.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    /* background: rgba(255,255,255,.2); */
    margin: 16px;
}

/* .logo {
    display: inline-block;
    height: @layout-header-height;
    padding: 0 0 0 24px;
    font-size: 20px;
    line-height: @layout-header-height;
    vertical-align: top;
    cursor: pointer;
    img {
      display: inline-block;
      vertical-align: middle;
    }
} */
  