.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    /* background: rgba(255,255,255,.2); */
    margin: 16px;
}

.wrap {
    margin-left: 20px;
    margin-top: 100px;
    width: 1450px;
    height: 600px;
}

.wrap table {
    width: 1450px;
    table-layout: fixed;
}

table tr td {
    padding: 5px;
    border: 1px solid #eee;
    word-wrap: break-word;
    height: 50px;
}

table.head tr td {
    background: #eee;
    font-weight: bold; 
    height: 50px;
}

table tr th {
    padding: 5px;
    border: 1px solid #eee;
    word-wrap: break-word;
    background: #eee;
}

table {
    border: 1px
}

.inner_table {
    height: 400px;
    overflow-y: auto;
}

.ant-table-placeholder {
    display: none;
}